<div class="row">
  <div class="container portfolio-content">
    <div class="col-md-4">
      <div class="portfolio-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-portfolio-uno"><img src="/assets/img/portfolio-img/loria-house-1.jpg" class="img-responsive" /></a>
        <h2 class="portfolio-content-title">LORIA HOUSE</h2>
        <h4 class="portfolio-content-subtitle"><i class="fa fa-map-marker" aria-hidden="true"></i> CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-portfolio-dos">
          <img src="/assets/img/portfolio-img/casa-bali-hijau-2.jpg" class="img-responsive" />
        </a>
        <h2 class="portfolio-content-title">CASA BALI HIJAU</h2>
        <h4 class="portfolio-content-subtitle"><i class="fa fa-map-marker" aria-hidden="true"></i> CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
        <img src="/assets/img/portfolio-img/ocean-flat-3.jpg" class="img-responsive" />
        <h2 class="portfolio-content-title">OCEAN VIEW FLAT</h2>
        <h4 class="portfolio-content-subtitle"><i class="fa fa-map-marker" aria-hidden="true"></i> CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
        <img src="/assets/img/portfolio-img/casa-modelo-4.jpg" class="img-responsive" />
        <h2 class="portfolio-content-title">CASA CAPURRO</h2>
        <h4 class="portfolio-content-subtitle"><i class="fa fa-map-marker" aria-hidden="true"></i> CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-portfolio-cinco">
          <img src="/assets/img/portfolio-img/casa-modelo-5.jpg" class="img-responsive" />
        </a>
        <h2 class="portfolio-content-title">CASA MODELO XS.</h2>
        <h4 class="portfolio-content-subtitle"><i class="fa fa-map-marker" aria-hidden="true"></i> CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
        <img src="/assets/img/portfolio-img/area-social-6.jpg" class="img-responsive" />
        <h2 class="portfolio-content-title">ÁREA SOCIAL</h2>
        <h4 class="portfolio-content-subtitle"><i class="fa fa-map-marker" aria-hidden="true"></i> CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
  </div>
</div>
<div class="backstretch"></div>

<!-- Modals -->
<div class="modal fade" id="dbio-portfolio-uno" tabindex="-1" role="dialog" aria-labelledby="loriaHouse">
  <div class="modal-dialog modal-portfolio" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-8">
          <div id="portfolio-carousel-loria" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#portfolio-carousel-loria" data-slide-to="0" class="active"></li>
    <li data-target="#portfolio-carousel-loria" data-slide-to="1"></li>
    <li data-target="#portfolio-carousel-loria" data-slide-to="2"></li>
    <li data-target="#portfolio-carousel-loria" data-slide-to="3"></li>
    <li data-target="#portfolio-carousel-loria" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/img/portfolio-img/loria-house/1-01.jpg" alt="DBIO Loria House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/loria-house/1-02.jpg" alt="DBIO Loria House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/loria-house/1-03.jpg" alt="DBIO Loria House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/loria-house/1-04.jpg" alt="DBIO Loria House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/loria-house/1-05.jpg" alt="DBIO Loria House">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#portfolio-carousel-loria" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#portfolio-carousel-loria" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>
        <div class="col-md-4">
          <h3>LORIA HOUSE</h3>
          <ul>
<li>Área: 270 m²</li>
<li>Año: 2016</li>
<li>Ubicación: Condominio Lomas del Sol</li>
<li>La vivienda de la familia Loria está organizada en dos volúmenes cada uno de ellos pensados para albergar funciones distintas, el primero de un solo nivel, contiene las áreas sociales de la vivienda; en el segundo de dos niveles, se encuentran los dormitorios. Como necesidad de los clientes se planteó que los espacios del primer nivel estuvieran adecuados a la ley 7600, haciendo posible el acceso universal a esta parte de la vivienda.</li>
</ul>
</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bali House -->

<div class="modal fade" id="dbio-portfolio-dos" tabindex="-1" role="dialog" aria-labelledby="baliHouse">
  <div class="modal-dialog modal-portfolio" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-8">
          <div id="portfolio-carousel-bali" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#portfolio-carousel-bali" data-slide-to="0" class="active"></li>
    <li data-target="#portfolio-carousel-bali" data-slide-to="1"></li>
    <li data-target="#portfolio-carousel-bali" data-slide-to="2"></li>
    <li data-target="#portfolio-carousel-bali" data-slide-to="3"></li>
    <li data-target="#portfolio-carousel-bali" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/img/portfolio-img/bali-house/3-01.jpg" alt="DBIO Bali Hijau House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/bali-house/3-02.jpg" alt="DBIO Bali Hijau House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/bali-house/3-03.jpg" alt="DBIO Bali Hijau House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/bali-house/3-04.jpg" alt="DBIO Bali Hijau House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/bali-house/3-05.jpg" alt="DBIO Bali Hijau House">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#portfolio-carousel-bali" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#portfolio-carousel-bali" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
        <div class="col-md-4">
          <h3>CASA BALI HIJAU</h3>
          <ul>
            <li>Área: 270 m²</li>
            <li>Año: 2016</li>
            <li>Ubicación: Condominio Lomas del Sol</li>
            <li>HIJAU nos invita disfrutar sus diferentes espacios, conectados por una terraza central que distribuye la residencia a través de amplias habitaciones. Dos niveles que separan los espacios sociales de los privados y a su vez dos volúmenes articulados buscan capturar la vista del océano pacífico. El juego de los volúmenes está acompañado además de la integración de diversos materiales y texturas, que van desde el concreto expuesto, la madera y el acero.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Casa Modelo XS -->
<div class="modal fade" id="dbio-portfolio-cinco" tabindex="-1" role="dialog" aria-labelledby="casaModeloHouse">
  <div class="modal-dialog modal-portfolio" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-8">
          <div id="portfolio-carousel-modeloxs" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#portfolio-carousel-modeloxs" data-slide-to="0" class="active"></li>
    <li data-target="#portfolio-carousel-modeloxs" data-slide-to="1"></li>
    <li data-target="#portfolio-carousel-modeloxs" data-slide-to="2"></li>
    <li data-target="#portfolio-carousel-modeloxs" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/img/portfolio-img/modeloxs-house/4-01.jpg" alt="DBIO Modelo XS House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/modeloxs-house/4-02.jpg" alt="DBIO Modelo XS House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/modeloxs-house/4-03.jpg" alt="DBIO Modelo XS House">
    </div>
    <div class="item">
      <img src="/assets/img/portfolio-img/modeloxs-house/4-04.jpg" alt="DBIO Modelo XS House">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#portfolio-carousel-modeloxs" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#portfolio-carousel-modeloxs" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
        <div class="col-md-4">
          <h3>CASA Modelo</h3>
          <ul>
            <li>Área: 110 m²</li>
            <li>Año: 2015</li>
            <li>Ubicación: Condominio Lomas del Sol</li>
            <li>La propuesta se configura de manera que las áreas social y privada se encuentran separadas, el área social está compuesta por una espacio integrado de sala y cocina que se comunica directamente con la terraza y el jardín. Pensada para funcionar de manera compacta, cuenta con dos habitaciones, un cuarto de baño completo y medio baño; aunque la distribución puede variar dependiendo de los gustos y necesidades del cliente.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
