.row {
  padding-top: 13%;
  .portfolio-content {
    .col-md-4 {
      margin-bottom: 25px;
      .portfolio-content-box {
        a {
          display: block;
          &:hover {
            background-color: red;
          }
          cursor: pointer;
          img {

          }
        }

        h2.portfolio-content-title {
          padding: 10px 0 5px 0;
          margin: 0;
          font-size: 1.5rem;
          border-bottom: solid 1px gray;
        }
        h4.portfolio-content-subtitle {
          padding: 10px 0 0 0;
          margin: 0;
          font-size: 1.3rem;
          color: gray;
        }
      }
    }
  }
}

// Modals
.modal-portfolio {
  width: 70%;

  .col-md-4 {
    h3 {
      font-size: 1.5rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {

      }
    }
  }
}

// Portfolio IMG

i.dbio-open-eye {
    position: absolute;
    z-index: 15;
    color: white;
    top: 205px;
    right: 25px;
    font-size: 2rem;
}
