<div class="row">
  <div class="container portfolio-content">
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="https://placehold.it/300x300?text=DBIO+Placeholder" class="img-responsive" />
          <h2 class="portfolio-content-title">Lorem Ipsum</h2>
          <h4 class="portfolio-content-subtitle">Donec pulvinar mauris a tempus posuere.</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="https://placehold.it/300x300?text=DBIO+Placeholder" class="img-responsive" />
          <h2 class="portfolio-content-title">Lorem Ipsum</h2>
          <h4 class="portfolio-content-subtitle">Donec pulvinar mauris a tempus posuere.</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="https://placehold.it/300x300?text=DBIO+Placeholder" class="img-responsive" />
          <h2 class="portfolio-content-title">Lorem Ipsum</h2>
          <h4 class="portfolio-content-subtitle">Donec pulvinar mauris a tempus posuere.</h4>
      </div>
    </div>
    <!-- End Column -->
    </div>
  </div>
  <div class="backstretch"></div>
