<div class="row">
  <div class="container portfolio-content">
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/loria-house-1.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">LORIA HOUSE</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/casa-bali-hijau-2.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">CASA BALI HIJAU</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/ocean-flat-3.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">OCEAN VIEW FLAT</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/casa-modelo-4.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">CASA MODELO XS.1</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/casa-modelo-5.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">CASA MODELO XS.</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/casa-modelo-6.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">CASA MODELO XS.2</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    <div class="col-md-4">
      <div class="portfolio-content-box">
          <img src="/assets/img/portfolio-img/area-social-6.jpg" class="img-responsive" />
          <h2 class="portfolio-content-title">ÁREA SOCIAL</h2>
          <h4 class="portfolio-content-subtitle">CONDOMINIO LOMAS DEL SOL</h4>
      </div>
    </div>
    <!-- End Column -->
    </div>
  </div>
  <div class="backstretch"></div>
