.row {
  padding-top: 10%;
  .portfolio-content {
    .col-md-4 {
      margin-bottom: 25px;
      .portfolio-content-box {
        a {
          img {}
          &hover { background-color: blue;}
        }
        h2.portfolio-content-title {
          padding: 10px 0 5px 0;
          margin: 0;
          font-size: 1.5rem;
          border-bottom: solid 1px gray;
        }
        h4.portfolio-content-subtitle {
          padding: 10px 0 0 0;
          margin: 0;
          font-size: 1.3rem;
          color: gray;
        }
      }
    }
  }
}
.modal-portfolio {
  width: 60%;
  .col-md-4 {
    h3 {
      font-size: 1.5rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {

      }
    }
  }
}
