.row {
  padding-top: 150px;
  .portfolio-content {
    .col-md-4 {
      margin-bottom: 25px;
      .portfolio-content-box {
        h2.portfolio-content-title {
          padding: 10px 0 0 0;
          margin: 0;
          font-size: 18px;
        }
        h4.portfolio-content-subtitle {
          padding: 10px 0 0 0;
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}
