<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
      <a class="navbar-brand" href="/">Dbio</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a [routerLink]="['/about']">Nosotros</a></li>
        <li><a [routerLink]="['/desarrollos']">Desarrollos</a></li>
        <li><a [routerLink]="['/portfolio']">Portafolio</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
