.navbar {
  .navbar-header {
    padding-top: 25px;
    .navbar-brand {
      display: block;
      text-indent: -9999px;
      width: 250px;
      height: 117px;
      background: url(/assets/img/logo.png);
      background-size: 250px 117px;
    }
  }
  .navbar-collapse {
    border-top: 0;
    box-shadow: none;
    ul.nav {
      li {
        a {
          color: white;
          text-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
          text-transform: uppercase;
          letter-spacing: 2px;
          &:hover, &:active, &visited {
            font-weight: bold;
            background: transparent;
          }
        }
      }
    }
  }
}

.navbar-toggle .icon-bar {
    width: 27px;
    height: 5px;
    border-radius: 1px;
    background: #b4cf34;
}

.collapsing ul, .collapse.in ul {
  width: 70%;
  background: rgba(250, 250, 250, 0.9);
  margin: 25px auto;
  padding: 0;
  border: solid 1px #b4cf34;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3), -1px 1px 2px rgba(0,0,0,0.3);
    li {
      text-align: center;
      border-bottom: solid 1px white;
      margin: 5px;
      a {
        color: gray !important;
        text-shadow: none !important;
      }
    }
}
