.row {
  padding-top: 15%;
  .about-content {
    .about-content-box {
      background-color: rgba(0, 0, 0, 0.70);
      padding: 15px;
      color: white;
      .tab-content {

      }
      .nav-tabs {
        border: none;
        li {
          a {
            color: white;
            &:hover {
              background: transparent;
              text-decoration: underline;
              border: none;
            }
          }
        }
      }
      .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        background-color: transparent;
        border: none;
        color: white;

        }
      }
    }
  }
