<div class="row">
  <div class="container about-content">
    <div class="col-md-5 pull-right">
      <div class="about-content-box">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home"><p>Somos la fusión de un grupo interdisciplinario de profesionales especializados, el cual proporciona soluciones de arquitectura, ingeniería, consultoría, construcción, y desarrolladores en transacciones de bienes raíces en todo el territorio nacional.</p>
            <p>Dedicados a la localización, desarrollo y venta de todos tipos de propiedades en todo el país. Nuestro equipo consultor cuenta con mas de 14 años en el campo de los bienes raíces, gestión, desarrollo y construcción de proyectos para facilitar y ofrecer el mejor servicio profesional disponible a nuestros clientes en la industria.</p>
            <p>Hemos reunido un grupo de profesionales calificados, cuyo objetivo principal es maximizar el objetivo y beneficio de nuestros clientes. Dando un servicio personalizado el cual nos permite brindar diferentes estrategias a cada uno. Contamos con un grupo de ingenieros, arquitectos, consultores, constructores, abogados, analistas financieros, topógrafos, diseñadores.</p></div>
            <div role="tabpanel" class="tab-pane fade" id="profile"><h1>Vision</h1></div>
            <div role="tabpanel" class="tab-pane fade" id="messages">Mision</div>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="backstretch"></div>
