<div class="row">
  <div class="container desarrollos-content">
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-uno">
          <img src="assets/img/desarrollos-img/logo-BJ.png" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-dos">
          <img src="assets/img/desarrollos-img/logo-LDS.png" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-tres">
          <img src="assets/img/desarrollos-img/logo-JDS.png" class="img-responsive" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="backstretch"></div>
<!-- Modal Bosque Jacaranda -->
<div class="modal fade" id="dbio-proyecto-uno" tabindex="-1" role="dialog" aria-labelledby="bosqueJacarandaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-4">
          <div class="logo"><img src="assets/img/desarrollos-img/logo-LDS-color.png" class="img-responsive" /></div>
          <div class="excerpt">
            <p>Condominio Lomas del Sol, está basado en el concepto de una comunidad de playa, en la cual usted puede lograr un estilo de vida único. Diseñado bajo estrictos estandares de calidad para hacer realidad su sueño de descanso y disfrute de la
              naturaleza cerca del océano, arena y sol.</p>
            <p>Nuestra comunidad está diseñada para las familias que desean convivir en armonía con la naturaleza y dejar un legado para sus hijos y nietos.</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="master-plan">
            <h4>Caracteristicas del Condominio  </h4>
            <ul>
              <li>Lotes en condominio desde 500 m² en adelante.</li>
              <li>Seguridad 24/7.</li>
              <li>Área social con piscinas, ranchos, juegos infantiles,zonas verdes, áreas de lectura y relajación.</li>
              <li>Gimnasio.</li>
              <li>Vista al océano y montañas.</li>
              <li>Agua potable y electrificación subterranea.</li>
              <li>Ubicado a 900m de la playa.</li>
              <li>Lago recreativo.</li>
              <li>Aceras y calles asfaltadas.</li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Modal lomas del Sol -->
<div class="modal fade" id="dbio-proyecto-dos" tabindex="-1" role="dialog" aria-labelledby="lomasDelSolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Lomas del Sol</h1>
      </div>
    </div>
  </div>
</div>
<!-- Modal Jardin del Sol -->
<div class="modal fade" id="dbio-proyecto-tres" tabindex="-1" role="dialog" aria-labelledby="jardinDelSolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Jardin del Sol</h1>
      </div>
    </div>
  </div>
</div>
