<div class="row">
  <div class="container desarrollos-content">
      <div class="col-md-4">
        <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-uno">
        <img src="https://placehold.it/300x300?text=DBIO+Placeholder" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-dos">
        <img src="https://placehold.it/300x300?text=DBIO+Placeholder" class="img-responsive" />
        </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="desarrollos-content-box">
      <a type="button" data-toggle="modal" data-target="#dbio-proyecto-tres">
      <img src="https://placehold.it/300x300?text=DBIO+Placeholder" class="img-responsive" />
      </a>
  </div>
</div>
  </div>
</div>

<!-- Modal Bosque Jacaranda -->
<div class="modal fade" id="dbio-proyecto-uno" tabindex="-1" role="dialog" aria-labelledby="bosqueJacarandaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Bosque Jacaranda</h1>
      </div>
    </div>
  </div>
</div>
<!-- Modal lomas del Sol -->
<div class="modal fade" id="dbio-proyecto-dos" tabindex="-1" role="dialog" aria-labelledby="lomasDelSolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Lomas del Sol</h1>
      </div>
    </div>
  </div>
</div>
<!-- Modal Jardin del Sol -->
<div class="modal fade" id="dbio-proyecto-tres" tabindex="-1" role="dialog" aria-labelledby="jardinDelSolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Jardin del Sol</h1>
      </div>
    </div>
  </div>
</div>
<div class="backstretch"></div>
