<div class="row">
  <div class="container desarrollos-content">
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-uno">
          <img src="assets/img/desarrollos-img/logo-LDS.png" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-dos">
          <img src="assets/img/desarrollos-img/logo-JDS.png" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="desarrollos-content-box">
        <a type="button" data-toggle="modal" data-target="#dbio-proyecto-tres">
          <img src="assets/img/desarrollos-img/logo-BJ.png" class="img-responsive" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="backstretch"></div>
<!-- Modal Bosque Jacaranda -->
<div class="modal fade" id="dbio-proyecto-uno" tabindex="-1" role="dialog" aria-labelledby="lomasDelSolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content dbio-desarrollos-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-4">
          <div class="logo"><img src="assets/img/desarrollos-img/logo-LDS-color.png" class="img-responsive" /></div>
          <div class="excerpt">
            <p>Condominio Lomas del Sol, está basado en el concepto de una comunidad de playa, en la cual usted puede lograr un estilo de vida único. Diseñado bajo estrictos estandares de calidad para hacer realidad su sueño de descanso y disfrute de la
              naturaleza cerca del océano, arena y sol.</p>
            <p>Nuestra comunidad está diseñada para las familias que desean convivir en armonía con la naturaleza y dejar un legado para sus hijos y nietos.</p>
            <button type="button" class="btn btn-default btn-lg pull-right">
              <i class="fa fa-envelope" aria-hidden="true"></i> Solicitar Folleto </button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <div id="desarrollos-carousel-lds" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#desarrollos-carousel-lds" data-slide-to="0" class="active"></li>
      <li data-target="#desarrollos-carousel-lds" data-slide-to="1"></li>
      <li data-target="#desarrollos-carousel-lds" data-slide-to="2"></li>
      <li data-target="#desarrollos-carousel-lds" data-slide-to="3"></li>
      <li data-target="#desarrollos-carousel-lds" data-slide-to="4"></li>
      <li data-target="#desarrollos-carousel-lds" data-slide-to="5"></li>
      <li data-target="#desarrollos-carousel-lds" data-slide-to="6"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-01.jpg" alt="DBIO Lomas del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-02.jpg" alt="DBIO Lomas del Sol">
      </div>
      <div class="item">
      <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-03.jpg" alt="DBIO Lomas del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-04.jpg" alt="DBIO Lomas del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-05.jpg" alt="DBIO Lomas del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-06.jpg" alt="DBIO Lomas del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-lomas-del-sol/1-07.jpg" alt="DBIO Lomas del Sol">
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#desarrollos-carousel-lds" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#desarrollos-carousel-lds" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
          </div>
          <div class="col-md-12">
            <h4>Caracteristicas del Condominio  </h4>
            <p>Lotes en condominio desde 500 m² en adelante, Seguridad 24/7, Área social con piscinas, ranchos, juegos infantiles,zonas verdes, áreas de lectura y relajación, Gimnasio, Vista al océano y montañas, Agua potable y electrificación subterranea, Ubicado a 900m de la playa, Lago recreativo, Aceras y calles asfaltadas.</p>
          </div>
      </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Modal lomas del Sol -->
<div class="modal fade" id="dbio-proyecto-dos" tabindex="-1" role="dialog" aria-labelledby="jardinesDelSolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content dbio-desarrollos-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="col-md-4">
          <div class="logo"><img src="assets/img/desarrollos-img/logo-LDS-color.png" class="img-responsive" /></div>
          <div class="excerpt">
            <p>Condominio Lomas del Sol, está basado en el concepto de una comunidad de playa, en la cual usted puede lograr un estilo de vida único. Diseñado bajo estrictos estandares de calidad para hacer realidad su sueño de descanso y disfrute de la
              naturaleza cerca del océano, arena y sol.</p>
            <p>Nuestra comunidad está diseñada para las familias que desean convivir en armonía con la naturaleza y dejar un legado para sus hijos y nietos.</p>
            <button type="button" class="btn btn-default btn-lg pull-right">
              <i class="fa fa-envelope" aria-hidden="true"></i> Solicitar Folleto </button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <div id="desarrollos-carousel-jds" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#desarrollos-carousel-jds" data-slide-to="0" class="active"></li>
      <li data-target="#desarrollos-carousel-jds" data-slide-to="1"></li>
      <li data-target="#desarrollos-carousel-jds" data-slide-to="2"></li>
      <li data-target="#desarrollos-carousel-jds" data-slide-to="3"></li>
      <li data-target="#desarrollos-carousel-jds" data-slide-to="4"></li>
      <li data-target="#desarrollos-carousel-jds" data-slide-to="5"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/img/desarrollos-img/slider-jardin-del-sol/JD13-01.jpg" alt="DBIO Jardin del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-jardin-del-sol/JD13-02.jpg" alt="DBIO Jardin del Sol">
      </div>
      <div class="item">
      <img src="/assets/img/desarrollos-img/slider-jardin-del-sol/JD13-03.jpg" alt="DBIO Jardin del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-jardin-del-sol/JD13-04.jpg" alt="DBIO Jardin del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-jardin-del-sol/JD13-05.jpg" alt="DBIO Jardin del Sol">
      </div>
      <div class="item">
        <img src="/assets/img/desarrollos-img/slider-jardin-del-sol/JD13-06.jpg" alt="DBIO Jardin del Sol">
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#desarrollos-carousel-jds" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#desarrollos-carousel-jds" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
          </div>
          <div class="col-md-12">
            <h4>Caracteristicas del Condominio  </h4>
            <p>Lotes en condominio desde 500 m² en adelante, Seguridad 24/7, Área social con piscinas, ranchos, juegos infantiles,zonas verdes, áreas de lectura y relajación, Gimnasio, Vista al océano y montañas, Agua potable y electrificación subterranea, Ubicado a 900m de la playa, Lago recreativo, Aceras y calles asfaltadas.</p>
          </div>
      </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Jardin del Sol -->
<div class="modal fade" id="dbio-proyecto-tres" tabindex="-1" role="dialog" aria-labelledby="bosquesJacarandaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content dbio-desarrollos-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h1>Bosque Jacaranda</h1>
      </div>
    </div>
  </div>
</div>
