.row {
  padding-top: 15%;
  .desarrollos-content {
    .desarrollos-content-box {
      background-color: rgba(0, 0, 0, 0.70);
      padding: 15px;
      color: white;
    }
  }
}

// Modal Global

.modal-dialog {
  width: 80%;
  height: 100%;
  margin-top: 10%;
    .modal-body {
      .logo {
        padding: 20px;
      }
      .excerpt {
        padding: 15px;
      }
      .master-plan {
        min-height: 450px;
        h4 {}
        ul {
          padding: 0;
          margin: 0;
          width: 50%;
          list-style: none;
          li {}
        }
      }
    }
}



// Modal Bosques Lomas del Sol

#dbio-proyecto-uno {
.modal-dialog {
    .modal-body {
      .master-plan {
        background-image: url('/assets/img/desarrollos-img/master-plan-LDS.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left;
      }
    }
  }
}
