<div class="row">
<div class="container servicios-content">
  <div class="col-md-8 col-xs-6">
    <div class="tab-content servicios-tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="servicios-arquitectura">
        <ul class="text-right">
          <li>Contratación en general</li>
          <li>Administración de presupuesto</li>
          <li>Administración del proyecto</li>
          <li>Construcción de infraestructura</li>
          <li>Construcción de edificios</li>
        </ul>
        <p class="text-right uppercase">
          INFORMACIÓN<br>
          ARQ. VIVIAN VARELA<br>
          ARQ. MARIELA VALVERDE<br>
          TEL: 2588-0664
        </p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="servicios-construccion"><h2>Construcci&#243;n</h2></div>
      <div role="tabpanel" class="tab-pane fade" id="servicios-bienes-raices"><h2>Bienes Raices</h2></div>
      <div role="tabpanel" class="tab-pane fade in" id="servicios-topografia"><h2>Topograf&#237;a</h2></div>
      <div role="tabpanel" class="tab-pane fade" id="servicios-proyectos"><h2>Administraci&#243;n de Proyectos</h2></div>
      <div role="tabpanel" class="tab-pane fade" id="servicios-aso-ambiental"><h2>Asesoramiento Ambiental</h2></div>
      <div role="tabpanel" class="tab-pane fade in" id="servicios-finanzas"><h2>Finanzas</h2></div>
      <div role="tabpanel" class="tab-pane fade" id="servicios-legal"><h2>Legal</h2></div>
      <div role="tabpanel" class="tab-pane fade" id="servicios-ventas-mercadeo"><h2>Ventas y Mercadeo</h2></div>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <ul class="nav nav-pills nav-stacked servicios-nav" role="tablist">
        <li role="presentation" class="active"><a href="#servicios-arquitectura" aria-controls="arquitectura" role="tab" data-toggle="tab">Arquitectura</a></li>
        <li role="presentation"><a href="#servicios-construccion" aria-controls="servicios-arquitectura" role="tab" data-toggle="tab">Construcci&#243;n</a></li>
        <li role="presentation"><a href="#servicios-bienes-raices" aria-controls="servicios-bienes-raices" role="tab" data-toggle="tab">Bienes Raices</a></li>
        <li role="presentation"><a href="#servicios-topografia" aria-controls="servicios-topografia" role="tab" data-toggle="tab">Topograf&#237;a</a></li>
        <li role="presentation"><a href="#servicios-proyectos" aria-controls="servicios-proyectos" role="tab" data-toggle="tab">Administraci&#243;n de Proyectos</a></li>
        <li role="presentation"><a href="#servicios-aso-ambiental" aria-controls="servicios-aso-ambiental" role="tab" data-toggle="tab">Asesoramiento Ambiental</a></li>
        <li role="presentation"><a href="#servicios-finanzas" aria-controls="servicios-finanzas" role="tab" data-toggle="tab">Finanzas</a></li>
        <li role="presentation"><a href="#servicios-legal" aria-controls="servicios-legal" role="tab" data-toggle="tab">Legal</a></li>
        <li role="presentation"><a href="#servicios-ventas-mercadeo" aria-controls="servicios-ventas-mercadeo" role="tab" data-toggle="tab">Ventas y Mercadeo</a></li>
  </ul>
</div>
</div>
</div>
