<div class="row">
  <div class="container contacto-content">
    <div class="col-md-4">
      <address>
        <ul>
          <li>Plaza Itskatzu Escazu, San Jose, Costa Rica. </li>
          <li>info@dbiocr.com </li>
          <li>506-2588-0664</li>
          <li>506-2588-0667</li>
        </ul>
      </address>
      <div class="map"></div>
    </div>
    <div class="col-md-8">
      <form class="dbio-contact-form">
        <p>Para más información o consulta, porfavor completar el formulario de contacto.</p>
        <div class="form-group">
           <input type="text" class="form-control" id="name" placeholder="Nombre">
         </div>
         <div class="form-group">
           <input type="email" class="form-control" id="email" placeholder="Email">
         </div>
         <div class="form-group">
           <textarea class="form-control" rows="3"></textarea>
         </div>
         <button type="submit" class="btn btn-default">Enviar</button>
      </form>
    </div>
  </div>
</div>
<div class="backstretch"></div>
