<div class="row">
  <div class="container contacto-content">
    <div class="col-md-4">
      <address>
        <ul>
          <li>Plaza Itskatzu Escazu, San Jose, Costa Rica. </li>
          <li>info@dbiocr.com </li>
          <li>506-2588-0664</li>
          <li>506-2588-0667</li>
        </ul>
      </address>
      <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1168.361628544711!2d-84.14678929034869!3d9.943573672153146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb810800fb55%3A0x250600db3af204ad!2sPlaza+Itskaz%C3%BA%2C+San+Jos%C3%A9+Province%2C+San+Rafael!5e0!3m2!1sen!2scr!4v1494272620629" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-8">
      <form class="dbio-contact-form">
        <p>Para más información o consulta, porfavor completar el formulario de contacto.</p>
        <div class="form-group">
           <input type="text" class="form-control" id="name" placeholder="Nombre">
         </div>
         <div class="form-group">
           <input type="email" class="form-control" id="email" placeholder="Email">
         </div>
         <div class="form-group">
           <textarea class="form-control" placeholder="Mensaje" rows="3"></textarea>
         </div>
         <button type="submit" class="btn btn-default">Enviar</button>
      </form>
    </div>
  </div>
</div>
<div class="backstretch"></div>
