// Base Styles
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

// App Variables
$navigation-font: 'Roboto';
$content-font:    'Raleway';

/* You can add global styles to this file, and also import other style files */

body {
   font-family: sans-serif;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

h1, h2, h3, h4, h5, p {
  font-family: $content-font;
}

.navbar {
  a {
    font-family: $navigation-font;
  }
}

.navbar-fixed-top {
    position: absolute;
  }


// Fullimg Background

body.fullimg-background {
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

// Navbar



// Slider
.carousel {
    ol.carousel-indicators {
      left:15%;
      li {
    border-radius: 0;
    height: 35px !important;
      &.active {
        height: 36px !important;
        margin-top: -4px;
      }
    }
  }
}

// About Page


// Desarrollos Page Modals

.modal-content {
  background: transparent;
  .modal-header {
    background: rgba(255,255,255,0.5);
  }
  .modal-body {
    background-color: white;
  }
}

// Portfolio Page

body.portfolio-img {
  background: #f1f1f1;
  .navbar-brand {
    background: url(/assets/img/logo-color.png) !important;
    background-size: 250px 117px !important;
    background-repeat: repeat !important;
  }
  ul.nav {
    li {
      a {
        color: gray !important;
        text-shadow: none !important;
      }
    }
  }
  ul.footer-icons {
    color: gray !important;
    li {
      border: solid 2px gray;
    }
  }
}

// Servicios Page General



// Footer

app-footer {
  position: fixed;
  bottom: 25px;
  width: 50px;
  z-index: 666;
  right: 25px;
    ul.footer-icons {
      margin: 0;
      padding: 0;
      list-style: none;
      color: white;
      li {
        padding: 7px 10px;
        border: solid 2px white;
        margin-bottom: 10px;
        a {
        }
      }
    }
  }

  // Responsive Queries

  @media (max-width: 500px ) {

    a.navbar-brand {
      margin-left: 15px;
    }

    ul.nav.navbar-nav.pull-right {
    float: none !important;
    }

    app-footer {
      position: initial;
    }

    app-footer ul.footer-icons li {
        display: inline-block;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0;
        padding-top: 3px;
    }
    .container.about-content, .container.desarrollos-content, .container.portfolio-content, .container.servicios-content, .container.contacto-content {
    margin-top: 25%;
    margin-bottom: 25px;
    }
    .modal-dialog {
      width: 92% !important;
    }
    .pull-right {
      float:none !important;
    }
    ul.footer-icons {
    margin-right: 15px;
    }
  }
